<div class="navbar">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#">Categorie 1</a></li>
                    <li><a href="#">Categorie 2</a></li>
                    <li><a href="#">Categorie 3</a></li>
                    <li><a href="#">Categorie 4</a></li>

                    @if (Roles.IsUserInRole(ECommerceApp.Models.RoleNames.Admin))
                    {
                        <li>@Html.ActionLink("Catégories", "Index", "Categorie", new { Area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("Produits", "Index", "Produit", new { Area = "Administration" }, null)</li>
                    }
                </ul>

                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <form class="navbar-search" action="#">
                        <input type="text" class="search-query span2" placeholder="Rechercher">
                        <button class="btn btn-primary btn-small search_btn" type="submit">Go</button>
                    </form>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
